<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getxPrototypeMargin</key>
	<string>providerParamDistance</string>
	<key>gradientNumberType</key>
	<string>listenerAroundProcess</string>
	<key>invisibleGraphicTop</key>
	<string>factoryIncludeFunction</string>
	<key>menuBesideSystem</key>
	<string>signatureFormLocation</string>
	<key>notifierNearMemento</key>
	<string>handlerCompositeResponse</string>
	<key>techniquePlatformDepth</key>
	<string>bufferStrategyShape</string>
</dict>
</plist>
