<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionSingletonCoord</key>
	<string>multiplicationPhaseInset</string>
	<key>aspectratioLikeJob</key>
	<string>futurePhaseLocation</string>
	<key>contractionLevelPressure</key>
	<string>cartesianAwaitVisibility</string>
	<key>criticalSignDelay</key>
	<string>chartStagePadding</string>
	<key>matrixModeAppearance</key>
	<string>cubitPlatformBrightness</string>
	<key>menuContextColor</key>
	<string>mediumStatefulTheme</string>
	<key>nodeExceptTemple</key>
	<string>spotCompositePressure</string>
	<key>publicLabelInterval</key>
	<string>workflowInterpreterContrast</string>
	<key>storageCompositePosition</key>
	<string>asyncAroundParameter</string>
	<key>subpixelAndProcess</key>
	<string>shaderThroughAdapter</string>
</dict>
</plist>
