<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectratioOutsideComposite</key>
	<string>asynchronousVectorVisible</string>
	<key>currentGraphicContrast</key>
	<string>unactivatedSwiftSpacing</string>
	<key>resourceThanValue</key>
	<string>configurationTypeScale</string>
	<key>subsequentBulletAlignment</key>
	<string>symbolVersusStructure</string>
</dict>
</plist>
