<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushParameterFlags</key>
	<string>requiredDescriptorTop</string>
	<key>factoryJobTail</key>
	<string>frameFacadeSkewy</string>
	<key>tweenAmongTask</key>
	<string>serviceForScope</string>
</dict>
</plist>
