<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionAdapterSpeed</key>
	<string>factoryMementoDuration</string>
	<key>liteCubitBottom</key>
	<string>mediocreTangentShade</string>
	<key>managerSystemStatus</key>
	<string>activityOutsideContext</string>
	<key>prevCardSize</key>
	<string>aspectAmongProcess</string>
	<key>prevMissionDelay</key>
	<string>popupCommandDuration</string>
	<key>profileAgainstKind</key>
	<string>groupPhaseAlignment</string>
	<key>specifierAsEnvironment</key>
	<string>curveLevelPadding</string>
</dict>
</plist>
