<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directCosineVelocity</key>
	<string>deferredStreamShade</string>
	<key>layoutAmongChain</key>
	<string>iconMediatorFormat</string>
	<key>requestAwayObserver</key>
	<string>rectWithoutBuffer</string>
	<key>sizeLayerMargin</key>
	<string>checkboxFormSkewy</string>
	<key>viewThanObserver</key>
	<string>nodeUntilPrototype</string>
</dict>
</plist>
