<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushExceptCommand</key>
	<string>missedSubscriptionHead</string>
	<key>bufferAlongParam</key>
	<string>taskVarCount</string>
	<key>completerBeyondVisitor</key>
	<string>originalAspectratioVisible</string>
</dict>
</plist>
