<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dialogsIncludePlatform</key>
	<string>relationalStorageTheme</string>
	<key>giftKindShape</key>
	<string>statefulThroughProxy</string>
	<key>otherThreadContrast</key>
	<string>factoryUntilBridge</string>
	<key>profileVariableOpacity</key>
	<string>completerPlatformColor</string>
	<key>radiusThroughForm</key>
	<string>associatedCompositionAcceleration</string>
	<key>scaleAwayCycle</key>
	<string>bitrateSinceScope</string>
	<key>spineByPlatform</key>
	<string>presenterStructureDelay</string>
	<key>statelessVarTop</key>
	<string>errorInsideStructure</string>
	<key>substantialResponseCoord</key>
	<string>swiftMementoLocation</string>
</dict>
</plist>
