<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyDespiteType</key>
	<string>dedicatedMusicTop</string>
	<key>masterVariableSkewx</key>
	<string>permanentLoopType</string>
	<key>overlayUntilProcess</key>
	<string>nextStreamPadding</string>
	<key>providerInsidePrototype</key>
	<string>reducerSystemLeft</string>
	<key>scaffoldVersusJob</key>
	<string>protocolOrLevel</string>
	<key>smallBorderKind</key>
	<string>uniformBaseShape</string>
	<key>tabbarVariableCenter</key>
	<string>entityStateSkewx</string>
	<key>zoneNearPrototype</key>
	<string>coordinatorTaskState</string>
</dict>
</plist>
