<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystSinceTemple</key>
	<string>layerCycleFrequency</string>
	<key>dimensionOperationState</key>
	<string>builderTypeVelocity</string>
	<key>mediumTangentCenter</key>
	<string>rapidInteractorOrientation</string>
	<key>nativePreviewOrientation</key>
	<string>positionIncludeStrategy</string>
	<key>smallEffectAcceleration</key>
	<string>firstHeapSkewy</string>
	<key>uniformCustompaintDistance</key>
	<string>sortedDurationHue</string>
</dict>
</plist>
