<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerLikeMemento</key>
	<string>spriteTempleDuration</string>
	<key>convolutionFromLevel</key>
	<string>controllerVisitorPosition</string>
	<key>groupModeDensity</key>
	<string>progressbarProxySize</string>
	<key>inheritedOffsetRight</key>
	<string>normalResolverOffset</string>
	<key>queueContainKind</key>
	<string>comprehensiveRowTransparency</string>
	<key>semanticStoryboardMargin</key>
	<string>webCosineAlignment</string>
	<key>serviceAlongBuffer</key>
	<string>specifyCompleterPosition</string>
	<key>smallApertureInset</key>
	<string>flexLayerOffset</string>
	<key>synchronousLayerInset</key>
	<string>convolutionIncludeCommand</string>
	<key>timerThroughStage</key>
	<string>consumerThroughStrategy</string>
</dict>
</plist>
