<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocAlongFramework</key>
	<string>resultPlatformBorder</string>
	<key>channelKindMode</key>
	<string>enabledBulletPadding</string>
	<key>controllerAwayFacade</key>
	<string>sortedCompositionBrightness</string>
	<key>decorationAroundMemento</key>
	<string>descriptionInterpreterOrigin</string>
	<key>durationLayerTail</key>
	<string>notifierShapeState</string>
	<key>observerContainWork</key>
	<string>channelAboutCommand</string>
	<key>priorityInterpreterDepth</key>
	<string>equipmentNumberFrequency</string>
</dict>
</plist>
