<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationMementoMomentum</key>
	<string>scrollablePetTail</string>
	<key>basicMatrixCoord</key>
	<string>mobileTabbarCoord</string>
	<key>interactiveDescriptionShape</key>
	<string>timerFromJob</string>
</dict>
</plist>
