<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorFromType</key>
	<string>symmetricStreamContrast</string>
	<key>commandJobTheme</key>
	<string>cursorNumberSkewy</string>
	<key>commandWorkSaturation</key>
	<string>primaryLoopResponse</string>
	<key>draggableProjectionCount</key>
	<string>accordionStreamFlags</string>
	<key>eventFunctionType</key>
	<string>crucialEntityHue</string>
	<key>lossTypeDirection</key>
	<string>textfieldAdapterPressure</string>
	<key>spriteAgainstSystem</key>
	<string>responsiveChartStyle</string>
	<key>spriteJobRight</key>
	<string>checklistCommandScale</string>
	<key>symbolStageCount</key>
	<string>offsetOrAction</string>
	<key>titlePrototypeShape</key>
	<string>optionProcessRotation</string>
</dict>
</plist>
