<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationWithoutValue</key>
	<string>flexibleRowAcceleration</string>
	<key>entropyAroundContext</key>
	<string>publicMetadataDepth</string>
	<key>nativeButtonOpacity</key>
	<string>nibStructureForce</string>
	<key>spriteThanForm</key>
	<string>extensionPhasePosition</string>
</dict>
</plist>
