<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetInAction</key>
	<string>routerDuringStructure</string>
	<key>collectionDespiteCommand</key>
	<string>chapterPatternDistance</string>
	<key>controllerOutsideKind</key>
	<string>reusableIntensityVisibility</string>
	<key>elasticInstructionSize</key>
	<string>multiConstraintInterval</string>
	<key>graphicAtEnvironment</key>
	<string>captionVersusSingleton</string>
	<key>masterKindLeft</key>
	<string>buttonCommandTension</string>
	<key>stepValueSaturation</key>
	<string>tabbarFlyweightSpacing</string>
	<key>transitionInBuffer</key>
	<string>chartAtInterpreter</string>
</dict>
</plist>
