<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterScopeDelay</key>
	<string>gateActionBorder</string>
	<key>cyclePatternFlags</key>
	<string>firstCallbackTension</string>
	<key>gateProxySize</key>
	<string>equalizationThroughVariable</string>
	<key>publicListviewEdge</key>
	<string>streamTypeAcceleration</string>
	<key>rectSystemType</key>
	<string>viewNearFacade</string>
	<key>skinKindLeft</key>
	<string>reusableEffectMargin</string>
	<key>streamAroundMethod</key>
	<string>layoutIncludeType</string>
</dict>
</plist>
