<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateAboutParameter</key>
	<string>operationWorkValidation</string>
	<key>compositionalTickerRight</key>
	<string>checklistSystemFrequency</string>
	<key>firstLoopOffset</key>
	<string>scrollFunctionTheme</string>
</dict>
</plist>
