<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselinePerChain</key>
	<string>concreteVariantInset</string>
	<key>currentCoordinatorBorder</key>
	<string>sinkAwayChain</string>
	<key>expandedDecoratorCoord</key>
	<string>reactiveCurveSkewy</string>
	<key>independentControllerDepth</key>
	<string>singletonNearCommand</string>
	<key>mobileGiftScale</key>
	<string>resultForTask</string>
	<key>scrollableTweenColor</key>
	<string>mediocreTopicFormat</string>
	<key>statefulWithoutStage</key>
	<string>modulusStrategyTail</string>
	<key>subsequentTextureDistance</key>
	<string>resilientErrorStatus</string>
	<key>textExceptStyle</key>
	<string>retainedDescriptorName</string>
</dict>
</plist>
