<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonBufferIndex</key>
	<string>convolutionAlongStyle</string>
	<key>durationPhaseAcceleration</key>
	<string>deferredExtensionIndex</string>
	<key>fusedSizeMomentum</key>
	<string>geometricTickerHue</string>
</dict>
</plist>
