<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>diversifiedMatrixDirection</key>
	<string>prevBufferPadding</string>
	<key>interactorCompositeCoord</key>
	<string>signatureWithoutContext</string>
	<key>reducerBesideComposite</key>
	<string>synchronousSliderSpeed</string>
	<key>relationalTaskEdge</key>
	<string>swiftWorkCenter</string>
	<key>roleStyleAppearance</key>
	<string>cacheOrCommand</string>
</dict>
</plist>
