<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enabledStackTop</key>
	<string>delegateMementoDelay</string>
	<key>hyperbolicConstraintVisibility</key>
	<string>scrollStyleTop</string>
	<key>positionAtPrototype</key>
	<string>crucialInteractorTint</string>
	<key>semanticGesturedetectorName</key>
	<string>crucialSegueHue</string>
	<key>synchronousMenuIndex</key>
	<string>labelViaScope</string>
	<key>textureAtLevel</key>
	<string>utilAndFunction</string>
</dict>
</plist>
