<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hyperbolicAlertScale</key>
	<string>bulletPatternContrast</string>
	<key>mediaScopeValidation</key>
	<string>serviceBeyondParameter</string>
	<key>rowFromSystem</key>
	<string>featureAlongCommand</string>
	<key>sliderNumberPressure</key>
	<string>symmetricMovementFormat</string>
	<key>tweenForPlatform</key>
	<string>parallelHeroSpeed</string>
</dict>
</plist>
