<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoInstructionKind</key>
	<string>actionAsBridge</string>
	<key>graphAmongProcess</key>
	<string>mutableManagerVisible</string>
	<key>keyWidgetLocation</key>
	<string>fragmentNumberAlignment</string>
	<key>lazyMenuSkewx</key>
	<string>streamProcessName</string>
	<key>previewFrameworkFormat</key>
	<string>statelessTabbarTint</string>
	<key>routeChainTension</key>
	<string>heroAtOperation</string>
	<key>serviceActionCenter</key>
	<string>instructionFrameworkTop</string>
</dict>
</plist>
