<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardScaffoldTag</key>
	<string>delegateContextSkewx</string>
	<key>contractionSinceTemple</key>
	<string>stateTierTheme</string>
	<key>coordinatorParameterAlignment</key>
	<string>viewVersusScope</string>
	<key>cupertinoEffectLocation</key>
	<string>cartesianAlignmentDepth</string>
	<key>hyperbolicPresenterShape</key>
	<string>textFromCycle</string>
	<key>prismaticWidgetFormat</key>
	<string>constraintStageSpeed</string>
	<key>retainedIntensityPressure</key>
	<string>dedicatedChartSkewy</string>
	<key>storageParameterOrientation</key>
	<string>instructionFunctionSaturation</string>
	<key>storeFlyweightKind</key>
	<string>capsuleSystemCount</string>
	<key>vectorAsFunction</key>
	<string>bulletVersusType</string>
</dict>
</plist>
