<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisOrJob</key>
	<string>factoryAtObserver</string>
	<key>brushWithoutMethod</key>
	<string>draggableTweenLeft</string>
	<key>commonListenerFormat</key>
	<string>capacitiesInterpreterTag</string>
	<key>constraintValueSkewy</key>
	<string>criticalAxisStatus</string>
	<key>draggableTimerBehavior</key>
	<string>numericalConstraintMargin</string>
	<key>vectorSystemIndex</key>
	<string>keyThemeBrightness</string>
</dict>
</plist>
