<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerWithProxy</key>
	<string>accordionMediaqueryStyle</string>
	<key>capsuleExceptLevel</key>
	<string>displayableCoordinatorTheme</string>
	<key>diffableRowRotation</key>
	<string>descriptionPhaseTag</string>
	<key>ephemeralHandlerMargin</key>
	<string>rowLikeProcess</string>
	<key>firstRouteShape</key>
	<string>invisibleModelSkewx</string>
	<key>mediumMarginOrientation</key>
	<string>cupertinoSinceBuffer</string>
	<key>similarKernelFrequency</key>
	<string>cycleFrameworkCount</string>
	<key>stampVersusBuffer</key>
	<string>interactorStyleOrientation</string>
	<key>transitionDuringBridge</key>
	<string>compositionalTaskSize</string>
	<key>visibleProfileEdge</key>
	<string>resilientMediaType</string>
</dict>
</plist>
