<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderOfKind</key>
	<string>resizableBinaryRight</string>
	<key>immediateSubscriptionResponse</key>
	<string>resourceSincePhase</string>
	<key>numericalTransitionInteraction</key>
	<string>dynamicBoxTint</string>
	<key>permissiveRichtextMargin</key>
	<string>cubeChainResponse</string>
	<key>presenterPatternShade</key>
	<string>autoAlignmentSpacing</string>
	<key>priorSkirtTop</key>
	<string>intuitiveRectDirection</string>
	<key>subscriptionUntilOperation</key>
	<string>spotAmongMode</string>
</dict>
</plist>
