<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarVersusMode</key>
	<string>buttonBesideFlyweight</string>
	<key>documentPrototypeTail</key>
	<string>textDespiteFacade</string>
	<key>factoryExceptStyle</key>
	<string>mediumGridDuration</string>
	<key>handlerChainScale</key>
	<string>uniformImageForce</string>
	<key>layoutStructureBottom</key>
	<string>sizedboxObserverType</string>
	<key>nativeOverlayTail</key>
	<string>transformerViaNumber</string>
	<key>nodeAlongMethod</key>
	<string>cursorAsVisitor</string>
	<key>queryDuringStage</key>
	<string>scrollablePaddingStatus</string>
</dict>
</plist>
