<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorIncludeParameter</key>
	<string>greatTransitionTint</string>
	<key>callbackContainForm</key>
	<string>opaqueStorageRate</string>
	<key>fixedCyclePadding</key>
	<string>sessionAndAdapter</string>
	<key>fragmentFacadeTint</key>
	<string>callbackOrStage</string>
	<key>independentMomentumDelay</key>
	<string>utilThanMethod</string>
	<key>musicAmongMediator</key>
	<string>controllerProcessRight</string>
	<key>parallelCycleStyle</key>
	<string>builderPlatformPressure</string>
	<key>rapidMenuInset</key>
	<string>transitionContextInteraction</string>
</dict>
</plist>
