<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitInterpreterDirection</key>
	<string>viewWorkType</string>
	<key>coordinatorIncludeObserver</key>
	<string>advancedDependencyTransparency</string>
	<key>ephemeralCosineTop</key>
	<string>autoNotifierTheme</string>
	<key>geometricStorageLocation</key>
	<string>explicitCurveBrightness</string>
	<key>histogramVisitorPressure</key>
	<string>consultativeAspectSize</string>
	<key>lostEffectLocation</key>
	<string>methodValueVelocity</string>
	<key>materialBuilderColor</key>
	<string>statefulMediaShape</string>
	<key>notificationInAdapter</key>
	<string>delicatePlateSaturation</string>
	<key>sinkActivityMargin</key>
	<string>scrollableTopicAppearance</string>
	<key>specifierMethodBottom</key>
	<string>scaleAndJob</string>
</dict>
</plist>
