<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeControllerStatus</key>
	<string>nodeJobDistance</string>
	<key>constraintVariableFormat</key>
	<string>chartWithoutFlyweight</string>
	<key>gridviewSincePhase</key>
	<string>currentHandlerHead</string>
	<key>stampParameterFeedback</key>
	<string>capacitiesMediatorOrigin</string>
	<key>statefulSensorMomentum</key>
	<string>ignoredGraphicTail</string>
</dict>
</plist>
