<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandExceptStrategy</key>
	<string>menuWithoutObserver</string>
	<key>cycleExceptTemple</key>
	<string>futureMementoStatus</string>
	<key>effectBeyondBuffer</key>
	<string>constraintLayerCoord</string>
	<key>geometricPageviewCount</key>
	<string>tangentForWork</string>
	<key>managerAmongPattern</key>
	<string>lastMemberTail</string>
	<key>permanentVariantFeedback</key>
	<string>adaptiveAlignmentOrientation</string>
	<key>routerCommandValidation</key>
	<string>groupForWork</string>
</dict>
</plist>
