<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferOperationOffset</key>
	<string>switchAlongFlyweight</string>
	<key>builderModeRate</key>
	<string>enabledContainerHead</string>
	<key>containerPerLevel</key>
	<string>easyConstraintPadding</string>
	<key>currentPopupCenter</key>
	<string>transformerActivityCenter</string>
	<key>decorationAroundTier</key>
	<string>mainLabelMargin</string>
	<key>errorAroundStructure</key>
	<string>statefulVersusStyle</string>
	<key>mediocreHeroContrast</key>
	<string>themeOrShape</string>
	<key>numericalTextureTop</key>
	<string>respectivePreviewLeft</string>
	<key>resizableGemDensity</key>
	<string>lazyModalPosition</string>
	<key>symbolAndJob</key>
	<string>stateScopeTheme</string>
</dict>
</plist>
