<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>disabledReducerDirection</key>
	<string>entityAroundProcess</string>
	<key>grainBridgeTail</key>
	<string>spineValueStyle</string>
	<key>navigatorFrameworkTint</key>
	<string>notifierContextShape</string>
	<key>semanticButtonKind</key>
	<string>toolActionSpeed</string>
	<key>symmetricNibTint</key>
	<string>challengeWorkOrigin</string>
</dict>
</plist>
