<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushActionFrequency</key>
	<string>commonCardDirection</string>
	<key>crucialBaseTint</key>
	<string>priorityLevelForce</string>
	<key>groupAdapterBrightness</key>
	<string>injectionFrameworkInset</string>
	<key>routeNearChain</key>
	<string>sinkForObserver</string>
	<key>secondOptionTint</key>
	<string>constSingletonLeft</string>
	<key>spriteAmongForm</key>
	<string>explicitTangentTension</string>
	<key>textfieldPatternType</key>
	<string>completerStageTheme</string>
	<key>visibleProfileDirection</key>
	<string>gridOperationDelay</string>
</dict>
</plist>
