<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionTaskTransparency</key>
	<string>methodObserverSize</string>
	<key>documentBeyondParam</key>
	<string>stateValueShade</string>
	<key>equalizationAgainstType</key>
	<string>histogramCommandTail</string>
	<key>globalLoopSpeed</key>
	<string>reductionFormFormat</string>
	<key>invisibleDelegateFrequency</key>
	<string>resourceModeShade</string>
	<key>nextActionFormat</key>
	<string>errorMethodVisible</string>
	<key>radiusKindFrequency</key>
	<string>binaryCycleDuration</string>
	<key>resourceStructureLeft</key>
	<string>resizablePresenterBorder</string>
</dict>
</plist>
