<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseStageDensity</key>
	<string>actionStateFlags</string>
	<key>desktopUsecaseHue</key>
	<string>themeAwayMethod</string>
	<key>hyperbolicCapsuleAlignment</key>
	<string>builderFrameworkSpacing</string>
	<key>menuVariableDelay</key>
	<string>originalAsyncShape</string>
	<key>modelContainLevel</key>
	<string>histogramStateFlags</string>
	<key>plateVarScale</key>
	<string>mediumDurationOrientation</string>
	<key>publicTextureOrigin</key>
	<string>iconMediatorCoord</string>
</dict>
</plist>
