<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>providerActionBottom</key>
	<string>menuWorkTail</string>
	<key>reusableDrawerFrequency</key>
	<string>protectedButtonBehavior</string>
	<key>seamlessSineHue</key>
	<string>pointThanComposite</string>
</dict>
</plist>
