<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetKindIndex</key>
	<string>scrollableStorageStatus</string>
	<key>composableBitrateMode</key>
	<string>animationPhaseCenter</string>
	<key>localizationLikeForm</key>
	<string>cubitAsWork</string>
	<key>richtextAndSystem</key>
	<string>pageviewOfLayer</string>
	<key>singleBlocCenter</key>
	<string>sampleOrState</string>
	<key>tangentJobPadding</key>
	<string>chapterContainSystem</string>
</dict>
</plist>
