<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveStorageName</key>
	<string>largeOptimizerScale</string>
	<key>eagerSizedboxBorder</key>
	<string>operationVersusChain</string>
	<key>equipmentDespiteJob</key>
	<string>radiusPrototypeDistance</string>
	<key>gradientParameterSaturation</key>
	<string>oldListenerShade</string>
	<key>invisibleLossSaturation</key>
	<string>activeProjectScale</string>
	<key>isolateLayerCount</key>
	<string>frameVarVisible</string>
	<key>localizationAsNumber</key>
	<string>notifierActivityPosition</string>
	<key>navigatorPlatformForce</key>
	<string>resultDecoratorBehavior</string>
	<key>radioBesideMethod</key>
	<string>crucialManagerDelay</string>
	<key>usedSkirtSpacing</key>
	<string>cubitPhaseCoord</string>
</dict>
</plist>
