<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertUntilSystem</key>
	<string>stateNearPlatform</string>
	<key>clipperCommandAppearance</key>
	<string>deferredRouterOrientation</string>
	<key>concreteStreamAcceleration</key>
	<string>hardStampSpeed</string>
	<key>functionalAwaitDelay</key>
	<string>streamPerProcess</string>
	<key>semanticBehaviorStatus</key>
	<string>alphaContainCycle</string>
	<key>sliderThanPhase</key>
	<string>unaryAlongVar</string>
	<key>uniformProjectionAppearance</key>
	<string>immutableMapBehavior</string>
</dict>
</plist>
