<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarVarDepth</key>
	<string>repositoryDecoratorTop</string>
	<key>aspectPlatformKind</key>
	<string>navigatorViaStrategy</string>
	<key>entityIncludeCommand</key>
	<string>textfieldAndProcess</string>
	<key>repositoryObserverName</key>
	<string>sessionInEnvironment</string>
	<key>sharedDescriptionForce</key>
	<string>navigationAroundBuffer</string>
	<key>sinkFlyweightCount</key>
	<string>providerLevelTransparency</string>
	<key>subpixelAgainstMode</key>
	<string>sinkWithAdapter</string>
	<key>uniformLayerDuration</key>
	<string>segmentAlongMode</string>
</dict>
</plist>
