<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileFrameOffset</key>
	<string>projectionInterpreterAppearance</string>
	<key>blocForInterpreter</key>
	<string>gesturedetectorAwayVar</string>
	<key>grainBridgeInset</key>
	<string>asyncForLayer</string>
	<key>mobxThanObserver</key>
	<string>entityStyleRight</string>
	<key>navigatorNumberIndex</key>
	<string>disabledResponsePadding</string>
	<key>playbackJobSize</key>
	<string>layoutVarTag</string>
	<key>primarySwiftShape</key>
	<string>animatedPrecisionSaturation</string>
	<key>smallStreamOrigin</key>
	<string>offsetPatternForce</string>
	<key>tangentJobMode</key>
	<string>navigatorAmongVar</string>
</dict>
</plist>
