<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityLikeKind</key>
	<string>independentLayoutResponse</string>
	<key>intermediateZoneLeft</key>
	<string>momentumParameterSkewy</string>
	<key>logarithmVisitorOpacity</key>
	<string>grainWorkTheme</string>
	<key>opaqueTextDensity</key>
	<string>delicateSingletonFeedback</string>
	<key>sortedDurationAlignment</key>
	<string>prevControllerTransparency</string>
	<key>stateLayerOffset</key>
	<string>commandDuringBuffer</string>
	<key>tweenDuringAdapter</key>
	<string>criticalResultTop</string>
</dict>
</plist>
