<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationAgainstEnvironment</key>
	<string>injectionShapeName</string>
	<key>gridLikeChain</key>
	<string>modelLikeParam</string>
	<key>musicInAdapter</key>
	<string>delegateAroundTask</string>
	<key>transformerVariableScale</key>
	<string>originalProfileBehavior</string>
</dict>
</plist>
