<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintVisitorBehavior</key>
	<string>symmetricInteractorSpacing</string>
	<key>delegateDecoratorDirection</key>
	<string>transitionAboutObserver</string>
	<key>granularQueryPressure</key>
	<string>sophisticatedExpandedInteraction</string>
	<key>metadataContainSystem</key>
	<string>delegateThroughProcess</string>
	<key>relationalReductionLocation</key>
	<string>densePositionFrequency</string>
	<key>similarBlocIndex</key>
	<string>observerStateTail</string>
</dict>
</plist>
