<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerOutsideSingleton</key>
	<string>custompaintAmongVariable</string>
	<key>documentOperationStyle</key>
	<string>techniqueWithLayer</string>
	<key>gridUntilOperation</key>
	<string>parallelExtensionMomentum</string>
	<key>normBeyondWork</key>
	<string>appbarSystemTheme</string>
	<key>particleTypeIndex</key>
	<string>containerMethodValidation</string>
	<key>prevMetadataInset</key>
	<string>autoAsyncDuration</string>
	<key>reducerOperationRate</key>
	<string>optimizerAmongSingleton</string>
	<key>sceneForForm</key>
	<string>plateExceptMode</string>
	<key>smallContainerDuration</key>
	<string>assetLayerResponse</string>
</dict>
</plist>
