<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveSinceAdapter</key>
	<string>rowAtStructure</string>
	<key>delegateActivityAcceleration</key>
	<string>dependencyWorkMomentum</string>
	<key>playbackFromMethod</key>
	<string>greatOptionOffset</string>
	<key>visibleCharacterDuration</key>
	<string>switchTierInterval</string>
</dict>
</plist>
