<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gesturedetectorValueStyle</key>
	<string>eagerStreamTop</string>
	<key>storeMethodDirection</key>
	<string>decorationStyleShade</string>
	<key>topicBufferAcceleration</key>
	<string>mediumExtensionStatus</string>
	<key>viewAtMethod</key>
	<string>requestDecoratorTop</string>
</dict>
</plist>
