<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>grainAdapterVelocity</key>
	<string>composableNotificationInset</string>
	<key>groupInterpreterStatus</key>
	<string>arithmeticEquipmentIndex</string>
	<key>rectByPlatform</key>
	<string>completionAsMediator</string>
	<key>requiredCustompaintTail</key>
	<string>synchronousMusicCenter</string>
	<key>specifierMementoCount</key>
	<string>spineVarInteraction</string>
</dict>
</plist>
