<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerAmongProxy</key>
	<string>histogramLayerTint</string>
	<key>autoLogDelay</key>
	<string>primaryInteractorPadding</string>
	<key>retainedCoordinatorBorder</key>
	<string>operationKindShape</string>
	<key>sinkScopeCenter</key>
	<string>notificationBridgeDuration</string>
	<key>symbolParamTag</key>
	<string>aspectratioTierResponse</string>
</dict>
</plist>
