<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileGridFlags</key>
	<string>listenerDecoratorVisibility</string>
	<key>binaryIncludeContext</key>
	<string>commandFacadeResponse</string>
	<key>cupertinoNodeCenter</key>
	<string>rectDespiteFacade</string>
	<key>entityAtObserver</key>
	<string>apertureTierTint</string>
	<key>handlerModeRotation</key>
	<string>characterBesideWork</string>
	<key>permissiveCheckboxSpeed</key>
	<string>transformerWorkResponse</string>
	<key>respectiveRemainderStatus</key>
	<string>mainOverlayFeedback</string>
	<key>sineKindState</key>
	<string>skirtInterpreterTag</string>
</dict>
</plist>
