<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesThroughTask</key>
	<string>diversifiedAccessoryOrientation</string>
	<key>concurrentStatelessRight</key>
	<string>drawerTaskSize</string>
	<key>directlyDurationRotation</key>
	<string>easyPresenterIndex</string>
	<key>disabledStackBound</key>
	<string>navigatorVersusStage</string>
</dict>
</plist>
