<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>explicitTextBrightness</key>
	<string>capacitiesAsVariable</string>
	<key>iconBridgeCoord</key>
	<string>resolverBeyondBridge</string>
	<key>intermediatePopupColor</key>
	<string>sliderContextCount</string>
	<key>operationChainPadding</key>
	<string>substantialPriorityDelay</string>
	<key>reducerExceptVar</key>
	<string>similarCompleterPosition</string>
	<key>specifierDespiteJob</key>
	<string>dynamicTransformerLocation</string>
</dict>
</plist>
