<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleReferenceAlignment</key>
	<string>clipperNumberScale</string>
	<key>asyncJobVisibility</key>
	<string>injectionWithObserver</string>
	<key>asyncThroughSystem</key>
	<string>sequentialWidgetRotation</string>
	<key>blocSingletonFrequency</key>
	<string>flexThanPhase</string>
	<key>routePlatformDistance</key>
	<string>crudeConvolutionMargin</string>
	<key>textureAgainstFramework</key>
	<string>layoutTierSize</string>
</dict>
</plist>
