<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionThanSystem</key>
	<string>flexibleChannelTransparency</string>
	<key>arithmeticShapeBrightness</key>
	<string>baseObserverRate</string>
	<key>errorStylePadding</key>
	<string>ignoredTweenName</string>
	<key>graphicMethodTension</key>
	<string>configurationBesideProxy</string>
	<key>hardStampShape</key>
	<string>missedAlignmentSkewy</string>
	<key>sineWorkScale</key>
	<string>tangentSingletonColor</string>
</dict>
</plist>
