<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityParameterSaturation</key>
	<string>positionInScope</string>
	<key>alphaContextIndex</key>
	<string>sustainableNibFormat</string>
	<key>consultativeSemanticsScale</key>
	<string>displayableFragmentTheme</string>
	<key>fusedAnimatedcontainerAcceleration</key>
	<string>capacitiesBeyondMethod</string>
</dict>
</plist>
