<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completionAgainstStage</key>
	<string>fragmentFromComposite</string>
	<key>cupertinoLayerScale</key>
	<string>comprehensiveBehaviorStyle</string>
	<key>delegateByMemento</key>
	<string>pivotalCompositionDepth</string>
	<key>euclideanContainerPadding</key>
	<string>musicStrategyMode</string>
	<key>geometricRadiusTheme</key>
	<string>hyperbolicIconTheme</string>
	<key>notifierProxyTint</key>
	<string>histogramStructureColor</string>
	<key>symmetricParticleIndex</key>
	<string>nextRepositoryKind</string>
</dict>
</plist>
