<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentKindFeedback</key>
	<string>deferredBufferPressure</string>
	<key>apertureFrameworkSize</key>
	<string>cubitByVar</string>
	<key>containerDuringChain</key>
	<string>richtextStateEdge</string>
	<key>errorFunctionAcceleration</key>
	<string>rectActivitySize</string>
	<key>globalSinkInterval</key>
	<string>difficultObserverCoord</string>
	<key>handlerFromPattern</key>
	<string>curveDespiteLayer</string>
	<key>isolateThanSystem</key>
	<string>gestureInterpreterVisibility</string>
	<key>parallelSensorTheme</key>
	<string>durationOrCommand</string>
	<key>prismaticSegmentRate</key>
	<string>similarThreadBound</string>
	<key>substantialNavigatorState</key>
	<string>customMaterialRotation</string>
</dict>
</plist>
