<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cardKindOpacity</key>
	<string>featureProxyAlignment</string>
	<key>collectionAsShape</key>
	<string>titleLevelFrequency</string>
	<key>comprehensiveNotifierStatus</key>
	<string>routerValueDelay</string>
	<key>layerMementoBehavior</key>
	<string>textAboutContext</string>
	<key>multiOffsetAlignment</key>
	<string>resourceThanFramework</string>
	<key>particleInFacade</key>
	<string>nodeProxySkewy</string>
	<key>sharedErrorMargin</key>
	<string>chartFormColor</string>
	<key>stampIncludeInterpreter</key>
	<string>animatedMediaqueryOrientation</string>
	<key>subsequentAnimatedcontainerDensity</key>
	<string>routeDespiteMode</string>
	<key>threadInObserver</key>
	<string>spriteAndOperation</string>
</dict>
</plist>
