<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gemActionRotation</key>
	<string>webContainerTint</string>
	<key>mediaqueryAmongBuffer</key>
	<string>routerThroughBridge</string>
	<key>responsivePresenterShade</key>
	<string>euclideanUtilSize</string>
	<key>statefulInjectionSpacing</key>
	<string>vectorContextSize</string>
	<key>subpixelIncludeJob</key>
	<string>paddingLayerTint</string>
</dict>
</plist>
