<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveStackDelay</key>
	<string>entityAlongKind</string>
	<key>bitrateAmongShape</key>
	<string>similarResponseInset</string>
	<key>compositionStageOffset</key>
	<string>directPageviewHead</string>
	<key>cubitLevelRotation</key>
	<string>ephemeralLocalizationDuration</string>
	<key>futureLikeComposite</key>
	<string>gridAwayKind</string>
	<key>interfaceParameterContrast</key>
	<string>consumerContainDecorator</string>
	<key>isolateAndSystem</key>
	<string>accessoryProcessBottom</string>
	<key>missedHandlerDensity</key>
	<string>mobileSinkTag</string>
	<key>observerExceptFramework</key>
	<string>cacheAroundChain</string>
	<key>paddingVersusForm</key>
	<string>pageviewIncludeOperation</string>
</dict>
</plist>
