<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellByParameter</key>
	<string>logAmongPattern</string>
	<key>delegateStrategyFormat</key>
	<string>cursorForTask</string>
	<key>effectLevelDistance</key>
	<string>gateActionSize</string>
	<key>greatRepositoryColor</key>
	<string>concurrentMusicMomentum</string>
	<key>storyboardExceptParameter</key>
	<string>axisByMediator</string>
	<key>textFacadeColor</key>
	<string>errorByVisitor</string>
</dict>
</plist>
