<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterTierState</key>
	<string>unactivatedMetadataFlags</string>
	<key>containerThroughStructure</key>
	<string>segueScopeDirection</string>
	<key>containerVisitorName</key>
	<string>lossPlatformSkewx</string>
	<key>missedMenuVisibility</key>
	<string>priorRepositoryInteraction</string>
	<key>sinkModeRotation</key>
	<string>projectionKindScale</string>
</dict>
</plist>
