<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityAmongInterpreter</key>
	<string>radiusStrategyOrientation</string>
	<key>bufferAroundOperation</key>
	<string>dedicatedSingletonVisibility</string>
	<key>coordinatorAroundInterpreter</key>
	<string>elasticDescriptorVisibility</string>
	<key>decorationAmongFramework</key>
	<string>independentIndicatorType</string>
	<key>durationContainPhase</key>
	<string>usecaseByDecorator</string>
	<key>mediocreRouterMomentum</key>
	<string>viewParameterType</string>
	<key>mobilePrioritySkewx</key>
	<string>routeKindFlags</string>
	<key>substantialInterpolationFormat</key>
	<string>curveBufferOrigin</string>
</dict>
</plist>
