<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedBuilderLeft</key>
	<string>equipmentStatePressure</string>
	<key>concurrentLogHead</key>
	<string>factoryExceptContext</string>
	<key>denseApertureTheme</key>
	<string>sizeSystemInterval</string>
	<key>loopTempleDelay</key>
	<string>multiplicationUntilEnvironment</string>
	<key>operationPlatformFlags</key>
	<string>queueDespiteSystem</string>
	<key>previewEnvironmentStatus</key>
	<string>cupertinoOfContext</string>
	<key>spritePrototypeVisible</key>
	<string>mediumCanvasVisible</string>
	<key>textfieldThanProxy</key>
	<string>groupCommandSize</string>
</dict>
</plist>
