<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionKindShade</key>
	<string>groupNumberTransparency</string>
	<key>handlerJobAppearance</key>
	<string>durationBesideBuffer</string>
	<key>resolverBesideTask</key>
	<string>dropdownbuttonProcessHue</string>
	<key>sliderNearScope</key>
	<string>opaqueServiceSkewy</string>
	<key>stepAgainstActivity</key>
	<string>navigatorJobVisible</string>
	<key>unaryDuringAdapter</key>
	<string>cartesianHashLocation</string>
</dict>
</plist>
