<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarBeyondWork</key>
	<string>contractionOutsideFacade</string>
	<key>bufferSingletonCenter</key>
	<string>sceneDuringState</string>
	<key>commonNavigatorSpeed</key>
	<string>bulletBufferTheme</string>
	<key>coordinatorInFunction</key>
	<string>cubeOfContext</string>
	<key>giftBesideComposite</key>
	<string>signViaBridge</string>
	<key>materialContainCommand</key>
	<string>composableSpineTension</string>
	<key>retainedDurationStatus</key>
	<string>mediaqueryFacadeScale</string>
</dict>
</plist>
