<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocTempleSaturation</key>
	<string>subscriptionCompositeTail</string>
	<key>decorationContainNumber</key>
	<string>optimizerForWork</string>
	<key>materialActivityMode</key>
	<string>routerValueTag</string>
	<key>navigatorInsideDecorator</key>
	<string>statelessExceptKind</string>
	<key>radiusMementoCount</key>
	<string>sinkAndMethod</string>
	<key>servicePlatformIndex</key>
	<string>certificateNearStyle</string>
	<key>standaloneRowBottom</key>
	<string>imageMethodInteraction</string>
</dict>
</plist>
